* {
  margin: 0;
}

body {
  text-align: center;
}

.welcome {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.welcome img {
  vertical-align: middle;
  display: inline-block;
}

#location-output {
  display: inline-block;
}
